In [17]:
import pandas as pd
import numpy as np
import black_scholes as bs

option = pd.DataFrame(columns=["r", "sigma", "maturity", "moneyness", "price"])

size = 25
numbers_of_parameters = 1000

In [18]:
def shuffle_black_scholes():
    param = {}
    param["s0"] = 100
    param["r"] = np.random.uniform(0, 0.15)
    param["sigma"] = np.random.uniform(0, 0.3)
    return param

In [19]:
T = np.linspace(1, 3, size)
moneyness = np.linspace(0.5, 1.5, size)

In [20]:
for param_num in range(numbers_of_parameters):
    param = shuffle_black_scholes()
    if param_num % 10 == 0:
        print(param_num, "/", numbers_of_parameters)
    for i in range(len(T)):
        for j in range(len(moneyness)):
            row = {
                "r": param["r"], 
                "sigma": param["sigma"],
                "moneyness": moneyness[j],
                "maturity": T[i], 
                "price": bs.euro_call(param["s0"], moneyness[j] * param["s0"], T[i], param["r"], param["sigma"])
            }
            row_df = pd.DataFrame(row, index=[0])
            option = pd.concat([option, row_df], ignore_index=True)
            #option = option.append(row, ignore_index=True)

0 / 1000
10 / 1000
20 / 1000
30 / 1000
40 / 1000
50 / 1000
60 / 1000
70 / 1000
80 / 1000
90 / 1000
100 / 1000
110 / 1000
120 / 1000
130 / 1000
140 / 1000
150 / 1000
160 / 1000
170 / 1000
180 / 1000
190 / 1000
200 / 1000
210 / 1000
220 / 1000
230 / 1000
240 / 1000
250 / 1000
260 / 1000
270 / 1000
280 / 1000
290 / 1000
300 / 1000
310 / 1000
320 / 1000
330 / 1000
340 / 1000
350 / 1000
360 / 1000
370 / 1000
380 / 1000
390 / 1000
400 / 1000
410 / 1000
420 / 1000
430 / 1000
440 / 1000
450 / 1000
460 / 1000
470 / 1000
480 / 1000
490 / 1000
500 / 1000
510 / 1000
520 / 1000
530 / 1000
540 / 1000
550 / 1000
560 / 1000
570 / 1000
580 / 1000
590 / 1000
600 / 1000
610 / 1000
620 / 1000
630 / 1000
640 / 1000
650 / 1000
660 / 1000
670 / 1000
680 / 1000
690 / 1000
700 / 1000
710 / 1000
720 / 1000
730 / 1000
740 / 1000
750 / 1000
760 / 1000
770 / 1000
780 / 1000
790 / 1000
800 / 1000
810 / 1000
820 / 1000
830 / 1000
840 / 1000
850 / 1000
860 / 1000
870 / 1000
880 / 1000
890 / 1000
900 / 1000
910 / 1000
920 / 1000
930 / 1000
940 / 1000
950 / 1000
960 / 1000
970 / 1000
980 / 1000
990 / 1000

In [21]:
option

               r     sigma  maturity  moneyness      price
0       0.084894  0.017301       1.0   0.500000  54.069514
1       0.084894  0.017301       1.0   0.541667  50.241973
2       0.084894  0.017301       1.0   0.583333  46.414433
3       0.084894  0.017301       1.0   0.625000  42.586892
4       0.084894  0.017301       1.0   0.666667  38.759352
...          ...       ...       ...        ...        ...
624995  0.058298  0.131999       3.0   1.333333   4.818583
624996  0.058298  0.131999       3.0   1.375000   3.944366
624997  0.058298  0.131999       3.0   1.416667   3.210616
624998  0.058298  0.131999       3.0   1.458333   2.599606
624999  0.058298  0.131999       3.0   1.500000   2.094527

[625000 rows x 5 columns]

In [22]:
option.to_csv("bs_1_parameters.csv")